HTML_DEMOS/student_types.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.cognizant.com"
xmlns="https://www. cognizant.com"
elementFormDefault="qualified">
<xs:element name=“student">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="rollno" type="xs:integer"/>
      <xs:element name="studentname" type="xs:string"/>
      <xs:element name="marks" type="xs:number"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>